nav ul {
  list-style: none;
  padding: 0px;
}
nav li {
  display: inline-block;
}
nav li :hover {
  background-color: grey;
  color: black;
}
nav li a.active {
  background-color: blue;
}
nav li a {
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}
